@import url('./__paragraph/article__paragraph.css');
@import url('./__title/article__title.css');


.article{
  list-style: none;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  max-width: 760px;
  margin: 0;
}
