.page-container{
  position: relative;
  width: 1280px;
  height: 780px;
  margin: auto;
  background-image: url(../../images/page/background_1.png);
  overflow: scroll;
}

.page-container::-webkit-scrollbar{
  width: 0;
}