.form__paragraph{
  font-family: 'Inter','Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  line-height: 22px;
  transition: all 0.5s ease-in;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .form__paragraph{
    font-size: 15px;
    line-height: 22px;
  }
}

@media (max-width: 320px) {
  .form__paragraph{
    font-size: 12px;
    line-height: 22px;
  }
}