.player__control{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  transition: all 0.5s ease-in;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (max-width: 1270px){
  .player__control{
    font-size: 18px;
    line-height: 22px;
  }
}

@media only screen and (max-width: 550px){
  .player__control{
    font-size: 14px;
    line-height: 19px;
  }
}

@media only screen and (max-width: 400px){
  .player__control{
    max-width: 200px;
  }
}