@import url('./__button/player__button.css');
@import url('./__button/player__button_stop.css');
@import url('./__timeline/player__timeline.css');
@import url('./__timeline-bar/player__timeline-bar.css');
@import url('./__default/player__default.css');
@import url('./__info-part/player__info-part.css');

.player {
    width: 100%;
    display: grid;
    grid: 25px 15px/ 65px 1fr 65px;
    /* flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    padding: 0;
}