.content {
  max-width: 1260px;
  border-radius: 8px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 20px 0 0 0;
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;

  font-style: normal;
  font-weight: normal;
  color: #000000;
}
@media (min-width: 1025px) and (max-width: 1279px) {
  .content{
    margin: 0 10px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .content {
    max-width: 1004px;
    margin: 0 10px;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .content {
    max-width: 748px;
    margin: 0 10px;
  }
}


@media (max-width: 321px){
  .content {
    max-width: 310px;
    margin: 0 5px;
  }
}
